---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}


{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}

{{#if customer}}
    <div>
        Your information: 
            Name: {{ customer.name }} <br>
            Email: {{ customer.email }} <br>
            Number: {{ customer.phone }}
    </div>
{{/if}}

<div id="form--add-all-to-cart-user-message" >

</div>

{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}


<div class="page-heading" >
    <button id="form-action-addToCart" class="button button--primary add-all-to-cart" >
        {{ lang "globals.add_all_to_cart" }}
    </button>

    <button id="form-action-removeFromCart" class="button button--primary remove-all-from-cart" >
        {{ lang "globals.remove_all_from_cart" }}
    </button>
</div>
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
                <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

<!-- 
<script>
    
    document.querySelectorAll(".add-all-to-cart").forEach(element => {
        element.addEventListener("click", function() {
            const formClass = ".form--add-all-to-cart";

            document.querySelectorAll(formClass).forEach(formElement => {
                console.log("This is the element", formElement);
                formElement.submit();
            });

        });
    });
</script> -->


{{/partial}}
{{> layout/base}}
