<ul class="productGrid">

    <div id="form--add-all-to-cart-loading" class="loadingOverlay" style="display: none;" >

    </div>
    {{#each products}}

    <form data-product-id="{{ this.id }}" class="form form--add-all-to-cart" method="post" action="{{ this.add_to_cart_url }}" enctype="multipart/form-data" data-cart-item-add >
        <li class="product">
                {{>components/products/card product=this settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
        </li>
    </form>
    {{/each}}
</ul>
